article header {
    height: 80px;
}

article h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
    border-bottom: 4px solid #da5700;
}

article h2 {
    font-size: 2em;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    padding: 10px 0;
    color: #001a68;
}

article section p {
    margin-bottom: 1.5em;
    line-height: 1.8em;
}

body {
    font: 14px "Poppins";
    background: #ffffff;
    color: #414042;
    box-sizing: border-box;
}

article section a {
    color: #001a68;
}

article {
    padding: 50px 50px 10px 50px;
    max-width: 960px;
    margin: 0 auto;
    box-shadow: 2px 2px 7px #464646;
}

.avatar {
    float: right;
    width: 250px;
    padding-left: 10px;
    filter: grayscale(1);
}

.cistic {
    clear: both;
}

.reference-tlacitko {
    background: #19ab02;
    color: white;
    font-size: 0,9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px;
}

